body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, 'Flood Std';
    background-color: #354463;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 30%;
    padding: 20px;
    gap: 10px;
}

.header .title {
    grid-area: 1/1/2/2;
    color: #354463;
    text-align: left;
    font: normal normal bold 17px/22px Helvetica;
}

.header .items {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.item1,
.item2,
.item3 {
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.header .donate {
    grid-area: 2/1/3/3;
    background-color: #C1F7D5;
    border-radius: 100px;
    color: #354463;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.climate-change {
    background: transparent url('../assets/about-us/annie-spratt-427339-unsplash.png') no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    padding: 32px;
    display: grid;
    grid-template-rows: 47% 6% 47%;
    grid-template-columns: 1fr;
}

.climate-change .quote {
    grid-area: 1/1/2/2;
    width: 60%;
    text-align: left;
    font: 44px 'Flood Std';
    color: white;
    opacity: 1;
}

.climate-change .title {
    grid-area: 2/1/3/2;
    background-color: #354463;
    box-sizing: border-box;
    color: white;
    margin: auto;
    text-align: center;
    width: fit-content;
    padding: 15px 30px;
    opacity: 1;
    z-index: 20;
}

.climate-change .content {
    grid-area: 3/1/4/2;
    background-color: white;
    opacity: 1;
    border: solid 32px white;
    text-align: center;
    font: normal normal bold 22px/27px Helvetica;
    color: #354463;
    overflow: hidden;
}

.mission {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 16% 70%;
    gap: 20px;
}

.mission .title {
    margin: 0 auto;
    grid-area: 1/1/2/2;
    background-color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    width: fit-content;
    padding: 15px 10px 0 10px;
}

.mission .desc {
    grid-area: 2/1/3/2;
    text-align: center;
    font: normal normal bold 20px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.mission .list-items {
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    overflow: hidden;
}

.mission .list-items .item {
    display: grid;
    grid-template-rows: 30% 8% 45%;
    row-gap: 15px;
    overflow: hidden;
}

.mission .list-items .item .item-heading {
    font: normal normal bold 16px/20px Helvetica;
    color: #FFFFFF;
}

.mission .list-items .item .item-desc {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    opacity: 1;
    overflow: hidden;
}

.team {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 3% 8% 10% 70%;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.team .title {
    box-sizing: border-box;
    opacity: 1;
    padding: 10px 30px;
    width: fit-content;
    margin: auto;
    background: #354463 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}

.team .intro {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}

.team .desc {
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.team .persons {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 32% 32% 32%;
    gap: 20px;
}

.team .persons .person {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    gap: 0;
}

.team .persons .person .person-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .persons .person .person-desc {
    background-color: #354463;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    padding: 10px 10px 0 30px;
}

.impact {
    background: transparent url('../assets/about-us/ian-macharia-509884-unsplash.png') no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    opacity: 0.8;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 15% 65%;
    gap: 20px;
    justify-items: center;
}

.impact .title {
    background-color: #FFFFFF;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    padding: 20px;
    width: fit-content;
    opacity: 1;
    grid-area: 1/1/2/2;
}

.impact .desc {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.impact .list-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25%);
    row-gap: 15px;
}

.impact .list-items .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    margin: 0 50px;
}

.impact .list-items .item .count {
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.impact .list-items .item .content {
    text-align: center;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.action {
    height: auto;
    padding: 30px;
    display: grid;
    grid-template-rows: 25% 65%;
    row-gap: 20px;
}

.action .cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100% 100% 100%;
    column-gap: 20px;
    overflow: hidden;
}

.action .quote {
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    color: #FFFFFF;
}

.action .cards .card {
    display: grid;
    height: min-content;
    grid-template-rows: 10% 40% 150%;
}

.action .cards .card .year {
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    background-color: #FFFFFF;
    color: #354463;
    opacity: 1;
    width: fit-content;
    padding: 15px 40px 0 40px;
    margin: 0 auto;
}

.action .cards .card .card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.action .cards .card .card-content {
    height: fit-content;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    row-gap: 10px;
}

.action .cards .card .card-content .card-content-title {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}

.action .cards .card .card-content .card-content-desc {
    text-align: center;
    font: normal normal 200 16px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.action .cards .card .card-content .card-content-read-more {
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
}

.subscribe {
    background-color: #C1F7D5;
    padding: 35px;
    display: grid;
    grid-template-rows: 60% 25%;
    grid-template-columns: 60% 35%;
    row-gap: 20px;
    column-gap: 5px;
}

.subscribe .desc {
    grid-area: 1/1/2/3;
    text-align: left;
    font: normal normal bold 20px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.subscribe .email-tab {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 80px;
    opacity: 1;
    padding-top: 13px;
    text-align: center;
}

.subscribe .subscribe-button {
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 80px;
    opacity: 1;
    color: #C1F7D5;
    font: normal normal bold 16px/19px Helvetica;
    text-align: center;
    padding: 13px;
}

.footer {
    padding: 20px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 20px;
}

.footer .title {
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.footer .contact {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.footer .follow-us {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.footer .learn-more {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.footer .contact .heading,
.footer .follow-us .heading,
.footer .learn-more .heading {
    text-decoration: none;
    text-transform: uppercase;
}

.footer .quote {
    grid-area: 3/1/4/3;
    text-align: right;
    font: normal normal normal 44px/46px Flood Std;
    color: #354463;
    opacity: 1;
}

@media (max-width: 800px) and (min-width: 400px) {
    .header {
        display: grid;
        grid-template-rows: 70% 30%;
        grid-template-columns: 70% 30%;
        padding: 20px 80px;
    }

    .header .title {
        grid-area: 1/1/2/2;
        font-size: 25px;
        line-height: 1.5em;
    }

    .header .items {
        grid-area: 2/1/3/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .header .donate {
        grid-area: 1/2/3/3;
        height: fit-content;
        width: fit-content;
        margin: auto 0 auto auto;
        padding: 10px;
    }

    .climate-change {
        padding: 50px;
        grid-template-rows: 40% 6% 54%;
    }

    .climate-change .content {
        border: solid 40px white;
        font: normal normal bold 26px/36px Helvetica;
        text-align: left;
    }

    .mission {
        grid-template-rows: 5% 20% 65%;
        gap: 10px;
    }

    .mission .desc {
        text-align: left;
        font: normal normal bold 24px/34px Helvetica;
    }

    .mission .list-items {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    .mission .list-items .item .item-heading {
        font: normal normal bold 22px/28px Helvetica;
    }

    .team {
        padding: 40px;
        height: fit-content;
        display: grid;
        grid-template-rows: 3% 10% 85%;
        grid-template-columns: 45% 45%;
        gap: 40px;
    }

    .team .title {
        margin: auto 0;
    }

    .team .intro {
        grid-area: 2/1/3/2;
        text-align: left;
        font: normal normal bold 36px/46px Helvetica;
    }

    .team .desc {
        grid-area: 2/2/3/3;
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
    }

    .team .persons {
        grid-area: 3/1/4/3;
        grid-template-rows: 30% 30% 30%;
        gap: 40px;
    }

    .team .persons .person {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 85% 15%;
    }

    .impact {
        padding: 40px;
        gap: 30px;
    }

    .impact .desc {
        font: normal normal bold 30px/36px Helvetica;
    }

    .impact .list-items {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 10px;
    }

    .impact .list-items .item .count {
        font: normal normal normal 52px/45px Flood Std;
    }

    .impact .list-items .item .content {
        font: normal normal bold 20px/25px Helvetica;
    }

    .action {
        padding: 40px;
        grid-template-rows: 20% 65%;
        row-gap: 20px;
    }

    .action .cards {
        grid-template-columns: 40% 40% 40%;
        column-gap: 20px;
        overflow: hidden;
    }

    .action .quote {
        text-align: center;
        font: normal normal normal 44px/46px Flood Std;
        color: #FFFFFF;
    }

    .subscribe {
        padding: 40px;
        column-gap: 30px;
    }

    .subscribe .desc {
        grid-area: 1/1/2/2;
        font: normal normal bold 22px/28px Helvetica;
    }

    .subscribe .email-tab {
        grid-area: 2/1/3/2;
    }

    .subscribe .subscribe-button {
        grid-area: 2/2/3/3;
    }

    .footer {
        padding: 40px;
    }

}

@media (min-width: 800px) {
    .header {
        padding: 30px 150px;
        grid-template-rows: 1fr;
        grid-template-columns: 25% 60% 15%;
        column-gap: 20px;
    }

    .header .title {
        grid-area: 1/1/2/2;
    }

    .header .items {
        grid-area: 1/2/2/3;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .header .donate {
        grid-area: 1/3/2/4;
    }

    .climate-change {
        background: transparent url('../assets/about-us/annie-spratt-427339-unsplash.png') no-repeat;
        background-size: contain;
        padding: 90px;
        padding-bottom: 0;
        margin: auto;
        grid-template-rows: 10% 90%;
        grid-template-columns: 1fr 1fr;
    }

    .climate-change .title {
        grid-area: 1/2/2/3;
    }

    .climate-change .content {
        height: fit-content;
        text-align: left;
        grid-area: 2/2/3/3;
        border: solid 40px white;
        font: normal normal bold 28px/36px Helvetica;
    }

    .mission {
        height: fit-content;
        padding: 0 100px 60px 100px;
        grid-template-columns: 97%;
        grid-template-rows: 7% 20% 60%;
        row-gap: 30px;
    }

    .mission .title {
        margin: 0;
        padding: 15px;
    }

    .mission .desc {
        grid-area: 2/1/3/2;
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
    }

    .mission .list-items {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
        column-gap: 20px;
        row-gap: 10px;
    }

    .mission .list-items .item {
        display: grid;
        grid-template-rows: 30% 12% 36%;
        row-gap: 15px;
    }

    .team {
        grid-template-rows: 5% 10% 75%;
        grid-template-columns: 35% 50%;
        padding: 80px;
        gap: 40px;
    }

    .team .title {
        margin: 0;
    }

    .team .intro {
        grid-area: 2/1/3/2;
        text-align: left;
        font: normal normal bold 30px/35px Helvetica;
    }

    .team .desc {
        grid-area: 2/2/3/3;
        text-align: left;
        font: normal normal 300 15px/20px Helvetica;
        letter-spacing: -0.4px;
        width: 70%;
    }

    .team .persons {
        grid-area: 3/1/4/3;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 60px;
    }

    .team .persons .person {
        grid-template-rows: 90% 10%;
    }

    .impact{
        padding: 60px 100px;
        grid-template-rows: 10% 25% 50%;
        gap: 40px;
    }
    
    .impact .desc {
        width: 70%;
        font: normal normal bold 36px/40px Helvetica;
    }
    
    .impact .list-items {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 1fr;
        column-gap: 30px;
    }
    
    .impact .list-items .item {
        grid-template-rows: 40% 60%;
        margin: 0px;
    }

    .impact .list-items .item .content {
        font: normal normal bold 23px/34px Helvetica;
        overflow: hidden;
    }

    .action {
        padding: 60px; 
        grid-template-rows: 10% 75%;
        row-gap: 40px;
    }

    .action .cards {
        grid-template-columns: 40% 40% 40%;
        column-gap: 20px;
        overflow: hidden;
    }

    .action .quote {
        text-align: center;
        font: normal normal normal 44px/46px Flood Std;
        color: #FFFFFF;
    }

    .action .cards .card .card-content {
       padding: 30px;
    }

    .subscribe {
        padding: 60px 100px;
        grid-template-rows: 1fr;
        grid-template-columns: 45% 25% 25%;
        gap: 30px;
    }

    .subscribe .desc {
        grid-area: 1/1/2/2;
    }
    
    .subscribe .email-tab {
        grid-area: 1/2/2/3;
    }
    
    .subscribe .subscribe-button {
        grid-area: 1/3/2/4;
    }
    
    .footer {
        padding: 50px 100px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 70px;
    }
    
    .footer .quote {
        grid-area: 1/5/2/6;
        text-align: left;
    }
}